<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
	<test name="Media">
		<classes>
			<class name="testcases.MediaRelase"></class>
		</classes>
	</test>
	<test name="photoGallery">
		<parameter name="dropdownvalue" value="2245"></parameter>
		<parameter name="selectionType" value="value"></parameter>
		<parameter name="pageNum" value="3"></parameter>
		<classes>
			<class name="testcases.PhotoGallery"></class>
		</classes>
	</test>
	<test name="publicationTest">
		<parameter name="dropdownIndValue" value="3"></parameter>
		<parameter name="selectionType1" value="index"></parameter>
		<classes>
			<class name="testcases.Publication"></class>
		</classes>
	</test>
	<test name="tenderTest">
		<classes>
			<class name="testcases.Tender"></class>

		</classes>
	</test>
	<test name="leaderTest">
		<classes>
			<class name="testcases.Leaders"></class>
		</classes>
	</test>
	<test name="MakeinindiaTest">
		<classes>
			<class name="testcases.MakeInIndia"></class>
		</classes>
	</test>
</suite>